<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.ansboard.sqls.MemberMapper">

    <select id="memberLogin" resultType="MemberVO" parameterType="MemberVO">
        /* MemberDAO.memberLogin */
     <![CDATA[
        SELECT
               MEM_NO   memNo
             , MEM_ID   memId
             , MEM_PW   memPw
             , MEM_NAME memName
        FROM tb_member
        WHERE MEM_ID = #{memId}
        ]]>
    </select>

    <select id="memIdCheck" resultType="int" parameterType="String">
        /* MemberDAO.memIdCheck */
     <![CDATA[
        SELECT COUNT(MEM_ID)
        FROM tb_member
        WHERE MEM_ID = #{memId}
        ]]>
    </select>


    <insert id="memberJoin" parameterType="MemberVO">
        /* MemberDAO.memberJoin*/
     <![CDATA[
        INSERT
        INTO tb_member ( MEM_ID
                       , MEM_PW
                       , MEM_NAME
                       , PHONE_NUM
                       , MEM_EMAIL
                       , MEM_REGDATE)
        VALUES ( #{memId}
               , #{memPw}
               , #{memName}
               , #{phoneNum}
               , #{memEmail}
               , NOW())
        ]]>
    </insert>

    <insert id="insertLoginInfo" parameterType="MemberVO">
        /* MemberDAO.insertLoginInfo */
     <![CDATA[
        INSERT
        INTO tb_login_log ( MEM_ID
                          , LOGIN_IP)
        VALUES ( #{memNo}
               , #{loginIp})
        ]]>
    </insert>

</mapper>