<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.ansboard.sqls.BoardMapper">

    <select id="list" resultType="BoardVO">
        <![CDATA[
        SELECT
               B_NO     bNo
             , TITLE    title
             , CONTENT  content
             , WRITER   writer
             , G_NO     gNo
             , STEP     step
             , INDENT   indent
             , VIEW_CNT viewCnt
             , DATE_FORMAT(REG_DATE, '%Y/%m/%d %H:%i') regDate
        FROM tb_board
        ORDER BY G_NO DESC, STEP ASC
        ]]>
    </select>

    <select id="view" resultType="BoardVO">
        <![CDATA[
        SELECT
               B_NO     bNo
             , WRITER   writer
             , TITLE    title
             , CONTENT  content
             , G_NO     gNo
             , STEP     step
             , INDENT   indent
             , VIEW_CNT viewCnt
             , DATE_FORMAT(REG_DATE, '%Y/%m/%d %H:%i') regDate
        FROM tb_board
        WHERE B_NO = #{bNo}
        ]]>
    </select>

    <!-- 댓글출력 -->
    <select id="commentList" resultType="CommentVO">
		<![CDATA[
        SELECT CM_IDX                                 cmIdx
             , CM_CONTENT                             cmContent
             , DATE_FORMAT(CM_DATE, '%Y/%m/%d %H:%i') cmDate
             , CM_WRITER                              cmWriter
        FROM t_comments
        WHERE B_NO = #{bNo}
        ORDER BY CM_DATE DESC
        ]]>
    </select>

    <!-- 댓글 입력 -->
    <insert id="insertComment" parameterType="CommentVO">
        /* BoardDAO.insertComment */
	 <![CDATA[
        INSERT INTO t_comments ( CM_CONTENT
                               , CM_DATE
                               , CM_WRITER
                               , POST_IDX)
        VALUES ( #{cmContent}
               , NOW()
               , #{cmWriter}
               , #{postIdx})
        ]]>
    </insert>

    <insert id="write">
        <![CDATA[
        INSERT INTO tb_board (
               B_NO
             , WRITER
             , TITLE
             , CONTENT
             , G_NO
             , STEP
             , INDENT
             , REG_DATE
        ) VALUE (
               #{bNo}
             , #{writer}
             , #{title}
             , #{content}
             , #{bNo}
             , 0
             , 0
             , NOW()
        )
        ]]>
    </insert>

    <update id="replyShape">
        <![CDATA[
        UPDATE tb_board
            SET STEP = STEP +1
        WHERE G_NO = #{gNo} AND STEP > #{step}
        ]]>
    </update>

    <insert id="writeReply">
        <![CDATA[
        INSERT INTO tb_board (
                  TITLE
                , CONTENT
                , WRITER
                , G_NO
                , STEP
                , INDENT
                , REG_DATE
        ) VALUE (
                  #{title}
                , #{content}
                , #{writer}
                , #{gNo}
                , #{step}+1
                , #{indent}+1
                , NOW()
        )
        ]]>
    </insert>

</mapper>