<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.ansboard.sqls.BoardMapper">

    <!-- 게시판 리스트 출력 -->
    <select id="list" resultType="BoardVO">
        /* BoardDAO.list */
        <![CDATA[
        SELECT
               B_NO                                    bNo
             , TITLE                                   title
             , CONTENT                                 content
             , WRITER                                  writer
             , G_NO                                    gNo
             , STEP                                    step
             , INDENT                                  indent
             , VIEW_CNT                                viewCnt
             , DATE_FORMAT(REG_DATE, '%Y/%m/%d %H:%i') regDate
        FROM tb_board
        ORDER BY G_NO DESC, STEP ASC
        ]]>
    </select>

    <!-- 게시글 내용 출력 -->
    <select id="view" resultType="BoardVO">
        /* BoardDAO.view */
        <![CDATA[
        SELECT
               B_NO                                    bNo
             , WRITER                                  writer
             , TITLE                                   title
             , CONTENT                                 content
             , G_NO                                    gNo
             , STEP                                    step
             , INDENT                                  indent
             , VIEW_CNT                                viewCnt
             , DATE_FORMAT(REG_DATE, '%Y/%m/%d %H:%i') regDate
        FROM tb_board
        WHERE B_NO = #{bNo}
        ]]>
    </select>

    <!-- 답글 정보 조회 -->
    <select id="replyInfo" resultType="BoardVO">
     /* BoardDAO.replyInfo */
        <![CDATA[
        SELECT
             B_NO
           , G_NO
           , STEP
           , INDENT
        FROM tb_board
        WHERE B_NO = #{boardParentSeq}
        ]]>

    </select>

    <insert id="write">
        /*
        BoardDAO.write
        글 작성
        */
        <selectKey resultType="int" keyProperty="gNo" order="BEFORE">
            SELECT
            IFNULL(MAX(G_NO), 0) + 1
            FROM tb_board
        </selectKey>

        <![CDATA[
        INSERT INTO tb_board (
               G_NO
             , STEP
             , INDENT
             , WRITER
             , TITLE
             , CONTENT
             , REG_DATE
        ) VALUE (
               #{gNo}
             , 0
             , 0
             , #{writer}
             , #{title}
             , #{content}
             , NOW()
        )
        ]]>
    </insert>

    <insert id="writeReply">
        /*
        BoardDAO.writeReply
        게시판 답글 등록
        */
        <![CDATA[
        INSERT INTO tb_board (
                G_NO
              , STEP
              , INDENT
              , TITLE
              , CONTENT
              , WRITER
              , REG_DATE
        ) VALUE (
                #{gNo}
              , #{step}+1
              , #{indent}+1
              , #{title}
              , #{content}
              , #{writer}
              , NOW()
            )
        ]]>
    </insert>

    <update id="replyShape" parameterType="BoardVO">
        /*
        BoardDAO.replyShape
        답글 순서 수정 - 게시글 답글 등록시 기존 등록된 답글의 순서를 증가 시킴
        */
        <![CDATA[
        UPDATE tb_board
        SET STEP = STEP + 1
        WHERE G_NO = #{gNo}
          AND STEP > #{step}
        ]]>
    </update>

</mapper>